<!-- todo: Delete this page; not used -->

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>Hello, Rails!</h1>

This is rubbertest5... from a local git repository.

Hello World.

<p>
Hey Jude.
</p>
